%div#main
  %h3
    Rejected:
    = h @message
  %div.miniPhoto
    %div.thumbnailBox
      %a{:href => '/images/' + @photo.path}
        %img{:src => '/images/' + @photo.thumbnail_path}
    %div.photoInfo
      %table
        %tr
          %th
            MD5:
          %td
            = h @photo.md5
        %tr
          %th
            Photo Id:
          %td
            %a{:href => "/photo/#{@photo.id.to_s}"}= h @photo.id
        %tr
          %th
            Size:
          %td
            = h(@photo.width.to_s + "x" + @photo.height.to_s)
        %tr
          %th
            File size:
          %td
            = h @photo.filesize
        %tr
          %th
            Tags:
          %td
            = h @photo.taggings.map{|t| t.tag.name}.join(' ')
        %tr
          %th
            Sources:
          %td
            %ul
              - @photo.posts.each do |post|
                %li
                  %a{:href => post.url}= post.url
  - if @url_posted
    %div
      %a{ :href => "/" }= h "Back to recent"
  - else
    %div
      %form{ :action => "/clip", :method => "POST" }
        %input{ :type => "hidden", :name => "url", :value => @url }
        %input{ :type => "hidden", :name => "page_url", :value => @page_url }
        %input{ :type => "hidden", :name => "tags", :value => @tags }
        %input{ :type => "hidden", :name => "force", :value => true }
        %input{ :type => "submit", :value => "Force to clip/post" }
        OR
        %a{ :href => "/" }= h "Back to recent"
