%div#main
  %div#photo
    %a{:href => '/images/' + @photo.path, :target => '_brank'}
      %img{:src => '/images/' + @photo.sample_path}
  %div#photoInfo
    %table
      %tr
        %th
          Photo Id:
        %td
          = h @photo.id.to_s
      %tr
        %th
          Size:
        %td
          = h(@photo.width.to_s + "x" + @photo.height.to_s)
          pixels
      %tr
        %th
          File size:
        %td
          = h @photo.filesize
          bytes
      %tr
        %th
          MD5:
        %td
          = h @photo.md5
      %tr
        %th
          Sources:
        %td
          %ul
            - @posts.each do |post|
              %li
                %a{:href => post.url}= h post.url
