%div#main
  %div#photo
    %a{:href => '/images/' + @photo.path, :target => '_brank'}
      %img{:src => '/images/' + @photo.sample_path}
  %div#photoInfo
    %table
      %tr
        %th
          Photo Id:
        %td
          = h @photo.id.to_s
      %tr
        %th
          Size:
        %td
          = h(@photo.width.to_s + "x" + @photo.height.to_s)
          pixels
      %tr
        %th
          File size:
        %td
          = h @photo.filesize
          bytes
      %tr
        %th
          MD5:
        %td
          = h @photo.md5
      %tr
        %th
          Sources:
        %td
          %ul
            - @posts.each do |post|
              %li
                %a{:href => post.url}= h post.url
                = post.page_url.nil? || post.page_url.empty? ? "" : "[#{link_to_hostname(post.page_url)}]"
      %tr
        %th
          Tags:
        %td
          %ul#tagList
            - @tags.sort_by{|t| t.name}.each do |tag|
              %li
                = h tag.name
          %span#editLink
            = "(Edit)"
          %form#updateTags{ :action => "/photo/update-tags", :method => "POST", :enctype => "multipart/form-data" }
            %input{ :type => "text", :name => "tags", :size => "80", :value => "#{@tags.map{|t| t.name}.join(' ')}"}
            %input{ :type => "hidden", :name => "id", :value => "#{@photo.id}"}
            %input{ :type => "submit", :value => "Update"}
