%script{:type => "text/javascript", :src => "/js/highslide/highslide.js"}
%script{:type => "text/javascript", :src => "/js/highslide/highslide-with-html.js"}
:javascript
  hs.graphicsDir = '/js/highslide/graphics/';
  hs.outlineType = 'rounded-white';
  hs.wrapperClassName = 'draggable-header';

%div#content
  %div.page_navi
    - unless @page.first_page?
      %span
        %a{:href => "/recent/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/recent/#{@page.next_page}"} Next &#187;

  %div#main{:class => "highslide-gallery"}
    - @photos.each do |photo|
      %div.photo
        %div.thumbnailBox
          %a.highslide{:href => '/images/' + photo.path, :onclick => "return hs.expand(this)"}
            %img{:src => '/images/' + photo.thumbnail_path}
        %div.control
          %ul
            %li
              %a{ :href => ('/photo/' + photo.id.to_s + '.edit'), :onclick => "return hs.htmlExpand(this, { objectType: 'ajax', width: 500, height: 300 } )" } edit
            %li
              %a{ :href => ('/photo/' + photo.id.to_s + '.delete?pg=' + @pg) } delete
        %div.photoTitle= photo.title || "(no title)"
        %div.photoInfo
          %table
            %tr
              %th
                Id:
              %td
                = h photo.id
            %tr
              %th
                Source:
              %td
                %a{:href =>photo.url}= h photo.url
            %tr
              %th
                Webpage:
              %td
                %a{:href =>photo.page_url}= h photo.page_url
            %tr
              %th
                Size:
              %td
                = h(photo.width.to_s + "x" + photo.height.to_s)
            %tr
              %th
                File size:
              %td
                = h photo.filesize
            %tr
              %th
                MD5:
              %td
                = h photo.md5
            %tr
              %th
                Posted:
              %td
                = h photo.date

  %div.page_navi
    - unless @page.first_page?
      %span
        %a{:href => "/recent/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/recent/#{@page.next_page}"} Next &#187;
