%script{:type => "text/javascript", :src => "/js/highslide/highslide.js"}
%script{:type => "text/javascript", :src => "/js/highslide/highslide-with-html.js"}
:javascript
  hs.graphicsDir = '/js/highslide/graphics/';
  hs.outlineType = 'rounded-white';
  hs.wrapperClassName = 'draggable-header';

%div#main
  %div.pageNavi
    - unless @page.first_page?
      %span
        %a{:href => "/recent/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/recent/#{@page.next_page}"} Next &#187;

  %div#recentList{:class => "highslide-gallery"}
    - @posts.each do |post|
      %div.recentPhoto
        %div.postId
          = h('#' + post.id.to_s)
        %div.thumbnailBox
          %a.highslide{:href => '/images/' + post.photo.path, :onclick => "return hs.expand(this)"}
            %img{:src => '/images/' + post.photo.thumbnail_path}
        %div.control
          %ul
            %li
              %a{ :href => ('/post/' + post.id.to_s + '.edit'), :onclick => "return hs.htmlExpand(this, { objectType: 'ajax', width: 500, height: 300 } )" } edit
            %li
              %a{ :href => ('/post/' + post.id.to_s + '.delete') } delete
        %div.photoTitle= (post.title.nil? || post.title.empty?) ? "(untitled)" : post.title
        %div.photoInfo
          %table
            %tr
              %th
                Source:
              %td
                %a{:href => post.url}= post.url
            %tr
              %th
                Webpage:
              %td
                %a{:href => post.page_url}= post.page_url
            %tr
              %th
                Photo Id:
              %td
                %a{:href => "/photo/#{post.photo.id.to_s}"}= h post.photo.id
            %tr
              %th
                Size:
              %td
                = h(post.photo.width.to_s + "x" + post.photo.height.to_s)
            %tr
              %th
                File size:
              %td
                = h post.photo.filesize
            %tr
              %th
                MD5:
              %td
                = h post.photo.md5
            %tr
              %th
                Tags:
              %td
                = h post.photo.taggings.map{|t| t.tag.name.to_s}.sort.join(' ')
            %tr
              %th
                Posted:
              %td
                = h post.date

  %div.pageNavi
    - unless @page.first_page?
      %span
        %a{:href => "/recent/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/recent/#{@page.next_page}"} Next &#187;
