%div#sidebar
  %ul
    %li
      %a{:href => "/tags/1"} Tags
    %li
      %a{:href => "/tagtypes/1"} Tag types

%div#main
  %h2 Tags

  %div.pageNavi
    - unless @page.first_page?
      %span
        %a{:href => "/tags/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/tags/#{@page.next_page}"} Next &#187;

  %div#tagList
    %table
      %tr
        %th.tagName
          Tag name
        %th.tagType
          Tag type
        %th.tagDescription
          Description
        %th.tagAliasFor
          Alias for
        %th.tagEdit
      - @tags.each do |tag|
        %tr
          %td
            = h tag.name
          %td
            = h tag.tag_type || ""
          %td
            = h tag.description
          %td
            = h tag.alias_for || ""
          %td
            %a{:href => "/tags/edit/#{tag.id}"} (edit)

  %div.pageNavi
    - unless @page.first_page?
      %span
        %a{:href => "/tags/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/tags/#{@page.next_page}"} Next &#187;
