%div#main
  %div.pageNavi
    - unless @page.first_page?
      %span
        %a{:href => "/wallpapers/#{@size}/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/wallpapers/#{@size}/#{@page.next_page}"} Next &#187;

  %div#photoList
    - @photos.each do |photo|
      %div.photoBox
        %a{:href => '/images/' + photo.path}
          %img.thumbnail{:src => '/images/' + photo.thumbnail_path}

  %div.pageNavi
    - unless @page.first_page?
      %span
        %a{:href => "/wallpapers/#{@size}/#{@page.prev_page}"} &#171; Prev
    %span= "[ #{@page.current_page} / #{@page.page_count} ]"
    - unless @page.last_page?
      %span
        %a{:href => "/wallpapers/#{@size}/#{@page.next_page}"} Next &#187;
